PORT=3000
#connect to another container with name "mongo"
# credentials are admin admin
MONGO_URI=""

MONGO_INITDB_ROOT_USERNAME=xxxx
MONGO_INITDB_ROOT_PASSWORD=xxxx

ME_CONFIG_BASICAUTH_USERNAME=xxxx
ME_CONFIG_BASICAUTH_PASSWORD=xxxx
ME_CONFIG_MONGODB_ADMINUSERNAME=xxxx
ME_CONFIG_MONGODB_ADMINPASSWORD=xxxx
